<table xmlns:th="http://www.thymeleaf.org">
    <tr>
        <th>Id</th>
        <th>Message</th>
        <th>Date</th>
        <th>Topic</th>
        <th>Partition</th>
        <th>Key</th>
    </tr>
    <!--/*@thymesVar id="messages" type="java.util.List<org.fireplume.KafkaMessageDto>"*/-->
    <th:block th:each="message : ${messages}">
        <!--/*@thymesVar id="message" type="org.fireplume.KafkaMessageDto"*/-->
        <tr>
            <td th:text="${message.getId()}"></td>
            <td th:text="${message.getData()}"></td>
            <td th:text="${message.getCreationDate()}"></td>
            <td th:text="${message.getTopic()}"></td>
            <td th:text="${message.getPartition()}"></td>
            <td th:text="${message.getKey()}"></td>
        </tr>
    </th:block>
</table>